.repoCard {
    margin: 2rem;
    padding: 0.5rem;
    /* background-color:rgba(212, 255, 195, 0.603); */
    background-color: #eaedf2;
    /* box-shadow: 10px 10px; */
    border-radius: 8px;
}
.logo {
    height: 1rem;
    padding-right: 0.1rem;
}