.topNavBar {
  background-color: #4A5073;;
  overflow: hidden;
  width: 100%;
  padding-top: 1rem;
}

.toolbarLink {
  text-decoration: none;
  padding-left: 1rem;
  /* color: #1E2F8E; */
  color: #eaedf2;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.toolbarLogin {
  text-decoration: none;
  padding-right: 1rem;
  /* color: #1E2F8E; */
  float: right;
  color: #eaedf2;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
